/* components/UnlockStatus.module.css */

.xrp_UnlockStatus_card {
    background: #111933;
    /* padding: 24px; */
    border-radius: 16px;
    color: #e0e8ff;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.05);
}

.xrp_UnlockStatus_title {
    font-size: 1.5rem;
    color: #4fe6d6;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.xrp_UnlockStatus_lockIcon {
    margin-right: 10px;
}

.xrp_UnlockStatus_block {
    background: #1a2445;
    border-radius: 12px;
    margin-bottom: 16px;
    padding: 16px;
    /* font-size: 14px; */
}

.xrp_UnlockStatus_heading {
    font-weight: 600;
    color: #48e5c2;
    margin-bottom: 0px;
}

.xrp_UnlockStatus_block p {
    margin-bottom: 0px;
}

.xrp_UnlockStatus_legList {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.xrp_UnlockStatus_legList li {
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
}

.xrp_UnlockStatus_pending {
    color: #ff9e67;
}

.xrp_UnlockStatus_progress {
    color: #4f8cff;
    font-weight: 500;
}

.xrp_UnlockStatus_locked {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid #22304c;
    color: #ffa563;
    font-weight: bold;
    font-size: 0.95rem;
}


.xrp_UnlockStatus_progressText {
    font-weight: 500;
    color: #4f8cff;
    margin-bottom: 8px;
}

.xrp_UnlockStatus_progressBarWrapper {
    height: 10px;
    border-radius: 8px;
    background-color: #2e3a5c;
    overflow: hidden;
}

.xrp_UnlockStatus_progressBarBg {
    width: 100%;
    height: 100%;
}

.xrp_UnlockStatus_progressBarFill {
    height: 100%;
    background: linear-gradient(to right, #4fe6d6, #00d6c4);
    border-radius: 8px;
    transition: width 0.4s ease;
}

.xrp_UnlockStatus_title {
    font-size: 1.5rem;
    color: #4fe6d6;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

.xrp_UnlockStatus_title:hover {
    color: #00ffe1;
}

.xrp_UnlockStatus_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: .5rem;
    font-size: 13px;
}

.xrp_UnlockStatus_table th,
.xrp_UnlockStatus_table td {
    text-align: left;
    padding: 3px;
    background: rgba(79, 140, 255, 0.1);
    /* color: rgb(79, 140, 255); */
    border: 1px solid rgba(79, 140, 255, 0.2);
    padding: 5px;
    transition: 0.3s;
}

/* .xrp_UnlockStatus_table th {
    background-color: #f5f5f5;
} */

.xrp_UnlockStatus_pending {
    font-weight: bold;
}

/* .xrp_UnlockStatus_card p strong {
    font-size: 14px;
    font-weight: 500;
} */